<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="navbar">
        <select id="colorOptions"></select>
        <input type ="button" id="clearCv" value="Clear the canvas"/>
    </div>
    <div id="cvContainer"><!-- our canvas will be inserted here--></div>

    <script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.event.drag-2.0.js"></script>
    <script src='/socket.io/socket.io.js' type='text/javascript'></script>
    <script src="/javascripts/main.js" type="text/javascript"></script>
  </body>
</html>
