<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
	<!-- build:css -->
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- endbuild -->
  </head>
  <body>
    <!--<div id="wrapper">
        <div id="navbar">
            <select id="colorOptions"></select>
        </div>
        <div id="content">
            <div id="cvContainer"><!-- our canvas will be inserted here--><!--</div>
            <div id="sidebar">
                <input type ="button" id="clearCv" value="Clear Canvas"/>
                <input type ="button" id="changeBrushSize" value="Brush Size"/>
            </div>
        </div>
        <div id="footer"></div>
    </div>-->
    <div ui-view></div>
	
    <script src="jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src='/socket.io/socket.io.js' type='text/javascript'></script>
	<!-- build:js -->
    <script src="/javascripts/main.js" type="text/javascript"></script>
	<!-- endbuild -->
  </body>
</html>
