html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#navbar {
    height: 10%;
    width: 100%;
    float: left;
    border: 1px solid red;
}

#cvContainer {
    display: inline-block;
    height: 85%;
    width: 94.6%;
    float: left;
    border: 2px dashed yellow;
}

#sidebar {
    display: inline-block;
    height: 85%;
    width: 5%;
    float: left;
    border: 1px solid aqua;
}

#canvas {

    border: 1px solid black;
}

#footer {
    height: 4%;
    width: 100%;
    float: left;
    border: 1px solid blue;
}

#colorOptions {
    float: left;
}

#clearCv {
    float: left;
}

select, option {
    padding-bottom: 3em;
    padding-right: 4.5em;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}