html, body {
    height: 100%;
    width: 100%;
}

article {
    height: 75%;
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px dashed yellow;
}

canvas {
    border: 1px solid black;
}
