html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#navbar {
    height: 10%;
    width: 100%;
    float: left;
    border: 1px solid red;
}

#content {
    max-width: 100%;
    width: 100%;
    max-height: 85%;
    height: 85%;
    float: left;
    border: 1px solid green;
}

#cvContainer {
    height: 100%;
    width: 95%;
    float: left;
    border: 2px dashed yellow;
}

#sidebar {
    height: 100%;
    width: auto;
    border: 1px solid aqua;
    overflow: hidden;
    text-align: center;
}

#canvas {
    border: 1px solid black;
}

#footer {
    height: 4%;
    width: 100%;
    float: left;
    border: 1px solid blue;
}

#colorOptions {
    float: left;
}

#clearCv, #changeBrushSize {
	background:#ededed;
	border-radius:12px;
	border:2px solid #dcdcdc;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
        width: 65px;
        white-space: normal;
        text-align: center;
        margin-top: 0.5em;
}
#clearCv:hover, #changeBrushSize:hover {
	background:#dfdfdf;
}

select, option {
    padding-bottom: 3em;
    padding-right: 4.5em;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}