<div class="auth-page">
    <div class="row">

        <h1 class="auth-title" ng-bind="::$ctrl.title"></h1>
        <p>
          <a ui-sref="app.login" ng-show="$ctrl.authType === 'register'">
            Have an account?
          </a>
		  <a ui-sref="app.register" ng-show="$ctrl.authType === 'login'">
            Need an account?
          </a>
        </p>
		
		<list-errors errors="$ctrl.errors"></list-errors>

			<form name="authForm" novalidate ng-submit="$ctrl.submitForm()">
			  <fieldset ng-disabled="$ctrl.isSubmitting">

				  <input class="auth-input"
					type="text"
					placeholder="Username"
					ng-model="$ctrl.formData.username"
					ng-pattern="/^([A-Za-z0-9\-\_]{3,16}$)+$/" ng-required="$ctrl.authType === 'register'" ng-show="$ctrl.authType === 'register'"/>

				  <input class="auth-input"
					type="email"
					placeholder="Email"
					ng-model="$ctrl.formData.email" required/>

				  <input class="auth-input"
					type="password"
					placeholder="Password"
					ng-model="$ctrl.formData.password" required/>

				<md-button class="auth-button" type="submit" ng-bind="$ctrl.title" ng-disabled="authForm.$invalid" aria-label="auth"/>
			  </fieldset>
			</form>
  </div>
</div>