<div class="auth-page">
    <div class="row">
        <div class="auth-header">
            <ul>
                <li class="nav-item canvas-button">
                    <a class="nav-link"
                       ui-sref-active="active"
                       ui-sref="app.home">
                        Home
                    </a>
                </li>
                <h1 class="auth-title" ng-bind="::$ctrl.title"></h1>
                <div class="block"></div>
            </ul>

        </div>
        <p>
            <a ui-sref="app.login" ng-show="$ctrl.authType === 'register'">
                Have an account?
            </a>
            <a ui-sref="app.register" ng-show="$ctrl.authType === 'login'">
                Need an account?
            </a>
        </p>

        <p class="auth-error">{{$ctrl.errors}}</p>

        <form name="authForm" novalidate ng-submit="$ctrl.submitForm()" id="authForm">
            <fieldset ng-disabled="$ctrl.isSubmitting">

                <input class="auth-input"
                       type="text"
                       placeholder="Username"
                       ng-model="$ctrl.formData.username"
                       ng-pattern="/^([A-Za-z0-9\-\_]{3,16}$)+$/" ng-required="$ctrl.authType === 'register'" ng-show="$ctrl.authType === 'register'"/>

                <input class="auth-input"
                       type="email"
                       placeholder="Email"
                       ng-model="$ctrl.formData.email" required/>

                <input class="auth-input"
                       type="password"
                       placeholder="Password"
                       ng-model="$ctrl.formData.password" required/>

                <md-button class="authSubmit md-raised" type="submit" ng-bind="$ctrl.title" ng-disabled="authForm.$invalid" aria-label="auth"/>
            </fieldset>
        </form>
    </div>
</div>